<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>냥뮤니티</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>

<div class="community_div">
    <table>
        <tr>
            <th>번호</th><th>제목</th><th>글쓴이</th><th>고양이</th><th>작성일</th>
        </tr>
        <tr th:each="board : ${boards}">
            <td><a href="board.html" th:href="@{/basic/boards/{itemId}(itemId=${item.id})}"
                   th:text="${board.id}">글ID</a></td>
            <td><a href="board.html" th:href="@{|/basic/boards/${item.id}|}"
                   th:text="${board.itemName}">제목</a></td>
            <td th:text="${board.price}">글쓴이</td>
            <td th:text="${board.quantity}">고양이</td>
            <td th:text="${board.quantity}">작성일</td>
        </tr>
    </table>
</div>

<div th:replace="fragments/footer :: footer"/>
</body>
</html>