/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.content_area {
    display: inline-block;
    position: relative;
    top: 3%;
    background: #333;
    padding: 5vw 15vw;
    border-radius: 15px;
    overflow-y: unset;
}