<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>

    <div class="confirm_div">
        <h3>완료되었습니다!</h3>
    </div>

<div th:replace="fragments/footer :: footer"/>
</body>
</html>