<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>

    <div class="join_div">
        <form th:method="post" th:action="@{/member/join}" th:id="loginForm">
            <table>
                <tr>
                    <td><a>이메일 : </a></td> <td><input id="email" name="email" type="text"></td>
                </tr>
                <tr>
                    <td><a>비밀번호 : </a></td> <td><input id="password" name="password" type="password"></td>
                </tr>
                <tr>
                    <td><a>비밀번호 확인 : </a></td> <td><input id="passwordCheck" name="passwordCheck" type="password"></td>
                </tr>
                <tr>
                    <td><a>생일 : </a></td> <td><input id="birthday" name="birthday" type="date"></td>
                </tr>
                <tr>
                    <td><a>닉네임 : </a></td> <td><input id="nickname" name="nickname" type="text"></td>
                </tr>
                <tr>
                    <td> <input type="submit" value="회원가입"> </td> <td> <a th:onclick="|location.href='@{/member/login}'|"> 취소 </a></td>
                </tr>
            </table>
        </form>
    </div>

<div th:replace="fragments/footer :: footer"/>
</body>
</html>