<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>
    <input value="true" th:value="${loginState}" type="text" name="loginState" id="loginState" hidden="true"/>

    <div class="login_div">
        <form th:method="post" th:action="@{/member/login}" th:id="loginForm">
            <table>
                <tr>
                    <td><a>ID : </a></td> <td><input id="email" name="email" type="text"></td>
                </tr>
                <tr>
                    <td><a>PW : </a></td> <td><input id="password" name="password" type="password"></td>
                </tr>
                <tr>
                    <td> <input id="loginBtn" type="button" onclick="chkValue()" value="커뮤니티 로그인"> </td> <td> <a th:onclick="|location.href='@{/member/join}'|"> 회원가입 </a></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <a th:href="">
                            <img src="/images/kakao_login.png"/>
                        </a>
                    </td>
                </tr>
            </table>
        </form>
    </div>



<div th:replace="fragments/footer :: footer"/>
</body>
<script type="text/javascript">
    const loginForm = document.querySelector("#loginForm");

    function chkValue(){
        const email = document.querySelector("#email").value;
        const password = document.querySelector("#password").value;

        if(email === ''){
            alert("ID를 입력해주세요!");
        }else if(password === ''){
            alert("PW를 입력해주세요!");
        }else{
            loginForm.submit();
        }
    }

    $(document).ready(function () {
        if($("#loginState").val() === "fail"){
            alert("계정 정보가 잘못되었습니다.");
            return history.go(-1);
        }
    });


</script>
</html>