.login_div{
    position: relative;
    margin: 10vw 15vw 10vw 15vw;
    text-align: center;
    background: rgba(51, 51, 51);
    padding: 10vw;
}

#basicLogin{
    background-image: url("/images/login.jpg");
}