<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>

<div class="cat_page">
    <img id="main_img" src="/images/mad_cat.jpg"/>

    <b><a class="gt_community" href="/community">커뮤니티 바로가기</a></b>
    <a id="cat_intro"> 오늘의 고양이: loki! </a>
</div>

<div th:replace="fragments/footer :: footer"/>
</body>
</html>