<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>

<div class="login_div">
    <a th:href="@{https://kauth.kakao.com/oauth/authorize?client_id=78effdc7d3e403e800af579ee0059fef&redirect_uri=http://localhost:8080/kakaoLogin&response_type=code}">
        <img src="/images/kakao_login.png"/>
    </a>
</div>

<div th:replace="fragments/footer :: footer"/>
</body>
</html>